@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Outfit', sans-serif;
}

body {
  background: hsl(212, 45%, 89%);
}

#card {
  width: 300px;
  height: 100%;
  padding: 1rem 0 2.5rem 0;
  background: hsl(0, 0%, 100%);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 5rem auto;
}

#card img {
  width: 280px;
  height: 280px;
  object-fit: cover;
  border-radius: 10px;
}

#card h2 {
  font-size: 20px;
  color: hsl(218, 44%, 22%);
  text-align: center;
  font-weight: 700;
  width: 80%;
}

#card p {
  font-size: 15px;
  color: hsl(220, 15%, 55%);
  text-align: center;
  font-weight: 400;
  width: 80%;
}
